/* ------------------------------
1. Font Setting
---------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Open+Sans:400,700&display=swap");

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

@font-face {
  font-family: themestudio;
  src: url(../fonts/themestudio.eot);
  src: url(../fonts/themestudio.eot?#iefix) format("embedded-opentype"),
    url(../fonts/themestudio.woff) format("woff"),
    url(../fonts/themestudio.ttf) format("truetype"),
    url(../fonts/themestudio.svg#themestudio) format("svg");
  font-weight: 400;
  font-style: normal;
}
[data-icon]:before {
  font-family: themestudio !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*=" ts-"]:before,
[class^="ts-"]:before {
  font-family: themestudio !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ts-angle-down:before {
  content: "\61";
}
.ts-angle-left:before {
  content: "\62";
}
.ts-angle-right:before {
  content: "\63";
}
.ts-angle-up:before {
  content: "\64";
}
.ts-bars:before {
  content: "\65";
}
.ts-close:before {
  content: "\66";
}
.ts-done:before {
  content: "\67";
}
.ts-add:before {
  content: "\68";
}
.ts-more-vertical:before {
  content: "\69";
}
.ts-more-horizontal:before {
  content: "\6a";
}
.ts-remove:before {
  content: "\6b";
}
.ts-radio-button-off:before {
  content: "\6c";
}
.ts-radio-button-on:before {
  content: "\6d";
}
.ts-checkbox-outline:before {
  content: "\6e";
}
.ts-checkbox-outline-blank:before {
  content: "\6f";
}
.ts-checkbox-blank:before {
  content: "\70";
}
.ts-checkbox:before {
  content: "\71";
}
.ts-person-stalker:before {
  content: "\72";
}
.ts-person:before {
  content: "\73";
}
.ts-phone:before {
  content: "\74";
}

/* ------------------------------
2. Reset Styles
---------------------------------*/
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #eee;
  font-family: "Open Sans", "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  height: 100%;
  line-height: 22px;
  position: relative;
  user-select: none;
  cursor: default;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
}

.clearfix {
  display: block;
}

.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.divider {
  margin: 25px 0;
  border: 1px solid #dadada;
}

/* ------------------------------
3. Buttons Styles
---------------------------------*/
.btnPrimary__sm {
  background-color: #ffcc01;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.18px;
  line-height: 13px;
  color: #383838;
  padding: 8px 12px;
  height: 35px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.btnPrimary__border {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.18px;
  line-height: 13px;
  color: #fff;
  padding: 8px 12px;
  height: 35px;
  outline: 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.btnPrimary__border:hover {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .btnPrimary__sm {
    font-size: 12px;
    line-height: 17px;
    padding: 6px 12px;
    height: 29px;
  }
}

/* -----------------------------------------------------------
$$$$$$$$$$$$$$$$$$$$   4. Header Styles  $$$$$$$$$$$$$$$$$$
-------------------------------------------------------------- */

.ts-headerTop {
  background-color: #fff;
  display: block;
  padding: 10px 0;
  height: 55px;
  text-align: right;
}
.ts-headerTop .ts-headNavTop ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ts-headerTop .ts-headNavTop ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  position: relative;
  color: #782121;
  font-size: 14px;
  font-weight: 600;
}
.ts-headerTop .ts-headNavTop ul li:last-child {
  margin-right: 0;
}
.ts-headerTop .ts-headNavTop ul li .icon {
  display: inline-block;
  margin-right: 3px;
  font-size: 14px;
  color: #782121;
  line-height: 13px;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .ts-headerTop {
    height: 49px;
  }
  .ts-headerTop .ts-headNavTop ul li {
    font-size: 12px;
  }
}

/* ---------- Header 01 ------------- */

.ts-header-01 {
  background-color: #981c1e;
  display: block;
  padding: 26px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.ts-header-01 .ts-headNav {
  display: block;
  position: relative;
  height: 35px;
  text-align: right;
}
.ts-header-01 .ts-headNav ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ts-header-01 .ts-headNav ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  position: relative;
}
.ts-header-01 .ts-headNav ul li:last-child {
  margin-right: 0;
}
.ts-header-01 .ts-headNav ul li a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.21px;
  line-height: 22px;
  outline: none;
  text-decoration: none;
  padding: 6px 8px 7px;
}

.ts-header-01 .ts-headLogo {
  display: block;
  position: relative;
}
.ts-header-01 .ts-headLogo .ts-headLogo_img,
.ts-header-01 .ts-headLogo .ts-headLogo_title {
  display: inline-block;
  vertical-align: middle;
}
.ts-header-01 .ts-headLogo .ts-headLogo_img {
  height: 69px;
  width: 80px;
  margin-right: 25px;
  background-color: #fff;
}
.ts-header-01 .ts-headLogo .ts-headLogo_title .Logo_title {
  display: block;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.32px;
  line-height: 33px;
}
.ts-header-01 .ts-headLogo .ts-headLogo_title .Logo_title.sub {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.ts-header-01 .ts-navMobile {
  display: none;
}
.ts-header-01 .ts-mobileMenu {
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
@media only screen and (max-width: 768px) {
  .ts-header-01 {
    padding: 10px 0;
  }
  .ts-header-01 .ts-navMobile {
    display: inline-block;
  }
  .ts-header-01 .ts-headLogo .ts-headLogo_img {
    height: 36px;
    width: 42px;
    margin-right: 10px;
  }
  .ts-header-01 .ts-headLogo .ts-headLogo_title .Logo_title {
    font-size: 16px;
    line-height: 20px;
  }
  .ts-header-01 .ts-headLogo .ts-headLogo_title .Logo_title.sub {
    font-size: 11px;
    line-height: 15px;
  }
  .ts-header-01 .ts-navMobile .btnPrimary__menu {
    height: 25px;
    width: 25px;
    font-size: 26px;
    line-height: 29px;
  }
  .ts-header-01 .ts-mobileMenu {
    background-color: #981c1e;
    position: fixed;
    top: 0;
    left: -350px;
    height: 100%;
    width: 300px;
    padding: 20px 0;
    z-index: 5;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
  }
  .ts-header-01 .ts-headNav {
    height: auto;
    text-align: left;
  }
  .ts-header-01 .ts-headNav ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    margin: 0;
  }
  .ts-header-01 .ts-headNav ul li a {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;
  }
  .ts-header-01.st--menuOpen .ts-mobileMenu {
    left: 0;
  }
  .ts-header-01 .ts-headerDiv__forMobile {
    width: calc(100% - 30px);
    display: inline-block;
  }
}

.btnPrimary__menu {
  background-color: transparent;
  height: 35px;
  width: 35px;
  color: #fff;
  font-size: 36px;
  line-height: 35px;
  border: 0;
  padding: 0;
  outline: none;
  text-align: center;
  position: relative;
}
.btnPrimary__menu .icon {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
.ts-navPopover {
  display: block;
  position: relative;
}

.ts-navPopover .navPopover {
  background-color: #ffcc01;
  position: absolute;
  top: -43px;
  right: 0;
  width: 350px;
  padding: 0 40px;
  max-height: 0;
  display: none;
  overflow: hidden;
  transition: all ease 0.3s;
}
.ts-navPopover.st-open .navPopover {
  max-height: 500px;
  padding: 40px;
  display: block;
}
.ts-navPopover .navPopover .closePopover {
  display: block;
  text-align: right;
  margin-bottom: 30px;
  height: 30px;
  width: 100%;
}
.ts-navPopover .navPopover .closePopover button {
  border: 0;
  background-color: transparent;
  color: #383838;
  font-size: 30px;
  height: 30px;
  width: 30px;
  padding: 0;
  text-align: center;
  line-height: 35px;
  content: "";
  font-family: themestudio;
  display: inline-block;
  outline: none;
}
.ts-navPopover .navPopover .closePopover button:before {
  content: "\66";
}
.ts-navPopover .navPopover ul {
  display: block;
  padding: 0;
  margin: 0;
}
.ts-navPopover .navPopover ul li {
  display: block;
  list-style: none;
  margin-bottom: 40px;
}
.ts-navPopover .navPopover ul li:last-child {
  margin-bottom: 0;
}
.ts-navPopover .navPopover ul li a {
  display: block;
  color: #383838;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2.49px;
  line-height: 24px;
  text-transform: uppercase;
  outline: none;
  padding: 0;
  text-align: left;
}

/* ---------- Header 02 ------------- */

.ts-header-02 {
  background-color: #fff;
  display: block;
  padding: 26px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.ts-header-02 .ts-headNav {
  display: block;
  position: relative;
  height: 35px;
  text-align: right;
}
.ts-header-02 .ts-headNav ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ts-header-02 .ts-headNav ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  position: relative;
}
.ts-header-02 .ts-headNav ul li:last-child {
  margin-right: 0;
}
.ts-header-02 .ts-headNav ul li a {
  display: block;
  color: #383838;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.21px;
  line-height: 22px;
  outline: none;
  text-decoration: none;
  padding: 6px 8px 7px;
}

.ts-header-02 .ts-headLogo {
  display: block;
  position: relative;
}
.ts-header-02 .ts-headLogo .ts-headLogo_img,
.ts-header-02 .ts-headLogo .ts-headLogo_title {
  display: inline-block;
  vertical-align: middle;
}
.ts-header-02 .ts-headLogo .ts-headLogo_img {
  height: 69px;
  width: 80px;
  margin-right: 25px;
  background-color: #981c1e;
}
.ts-header-02 .ts-headLogo .ts-headLogo_title .Logo_title {
  display: block;
  color: #981c1e;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.32px;
  line-height: 33px;
}
.ts-header-02 .ts-headLogo .ts-headLogo_title .Logo_title.sub {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.ts-header-02 .ts-navMobile {
  display: none;
}
.ts-header-02 .ts-mobileMenu {
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.ts-header-02 .btnPrimary__menu .icon {
  color: #981c1e;
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .ts-header-02 {
    padding: 10px 0;
  }
  .ts-header-02 .ts-navMobile {
    display: inline-block;
  }
  .ts-header-02 .ts-headLogo .ts-headLogo_img {
    height: 36px;
    width: 42px;
    margin-right: 10px;
  }
  .ts-header-02 .ts-headLogo .ts-headLogo_title .Logo_title {
    font-size: 16px;
    line-height: 20px;
  }
  .ts-header-02 .ts-headLogo .ts-headLogo_title .Logo_title.sub {
    font-size: 11px;
    line-height: 15px;
  }
  .ts-header-02 .ts-navMobile .btnPrimary__menu {
    height: 25px;
    width: 25px;
    font-size: 26px;
    line-height: 29px;
  }
  .ts-header-02 .ts-mobileMenu {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -350px;
    height: 100%;
    width: 300px;
    padding: 20px 0;
    z-index: 5;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.1);
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
  }
  .ts-header-02 .ts-headNav {
    height: auto;
    text-align: left;
  }
  .ts-header-02 .ts-headNav ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    margin: 0;
  }
  .ts-header-02 .ts-headNav ul li a {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;
  }
  .ts-header-02.st--menuOpen .ts-mobileMenu {
    left: 0;
  }
  .ts-header-02 .ts-headerDiv__forMobile {
    width: calc(100% - 30px);
    display: inline-block;
  }
}

/*
    .ts-header:not(.st--menuOpen) .ts-headNav ul li {
    opacity: 0;
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transition: all 0s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    -moz-transition: all 0s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    -webkit-transition: all 0s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    -o-transition: all 0s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  }

  .ts-header.st--menuOpen .ts-headNav ul li {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
  .ts-header.st--menuOpen .ts-headNav ul li:nth-child(1) {transition-delay: 0.15s; -moz-transition-delay: 0.15s; -webkit-transition-delay: 0.15s; -o-transition-delay: 0.15s;}
  .ts-header.st--menuOpen .ts-headNav ul li:nth-child(2) {transition-delay: 0.2s; -moz-transition-delay: 0.2s; -webkit-transition-delay:0.2s; -o-transition-delay: 0.2s;}
  .ts-header.st--menuOpen .ts-headNav ul li:nth-child(3) {transition-delay: 0.25s; -moz-transition-delay: 0.25s; -webkit-transition-delay: 0.25s; -o-transition-delay: 0.25s;}
  .ts-header.st--menuOpen .ts-headNav ul li:nth-child(4) {transition-delay: 0.3s; -moz-transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -o-transition-delay: 0.3s;}
  .ts-header.st--menuOpen .ts-headNav ul li:nth-child(5) {transition-delay: 0.35s; -moz-transition-delay: 0.35s; -webkit-transition-delay: 0.35s; -o-transition-delay: 0.35s;}

*/
